@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=JetBrains+Mono&family=Syne:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050505;
    color: #ffffff;
    @apply bg-primary text-text-primary antialiased overflow-x-hidden selection:bg-accent selection:text-white;
  }

  @media (min-width: 768px) {
    * {
      cursor: none !important;
    }
  }
}

@layer utilities {
  .text-stroke-sm {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }

  .text-stroke-lg {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
    color: transparent;
  }
}